.Rproj.user
.Rhistory
.RData
.Ruserdata
data/media/img_hash
data/media/vid_hash
data/media/waiting_room
valid_hand
valid_hand2
valid_hand3
output_frames
output_frames2
ips-targeting.txt
AccountSammlung_Influencer.xlsx
AccountSammlung_Medien.xlsx
AccountSammlung_Politik.xlsx
AccountSammlung_Sonstige.xlsx
AccountSammlung_Unternehmen.xlsx
all_profile_ids.rds
prototype_media